<!DOCTYPE html>
{% extends "base.html" %}

    {% block body_block %}

        <div class="col-md-10">
            <h1>Welcome to Sabi Sands!</h1>
            <p>
                Please upload two images. The first image will be the  content image and the second image will be the style image.
            </p>
            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">STYLE TRANSFORM</button>
            </form>
           
            {% if image_url %}
                <h2>Results!</h2>
                <img src = "{{ image_url }}" alt="Could not upload style image!" style="width:300px; height:auto">
            {% endif %}
        </div>    

    {% endblock %}